<% provide(:title, "Sign in") %>


<h1>Sign In</h1>
<p>Gelieve uw email en paswoord in te vullen om in te loggen</p>
    <%= form_for(:session, url: sessions_path) do |u| %>
 <table>
    <tr>
      <td>
        <%= u.label :email %><br />
        <%= u.label :password %>   
      </td>
      <td>     
        <%= u.text_field :email %><br />
        <%= u.password_field :password %>
      </td>
    </tr>
  </table>
      <%= u.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
