<% provide(:title, 'All users') %>
<h1>Users</h1>
<%= will_paginate %>	
<table>
	<thead>
		<tr>
			<td>nickname</td>
			<td>coins</td>
			<td>up</td>
			<td>down</td>
		</tr>
	</thead>
	<tbody>
	    <% @users.each do |u| %>
		<tr>
			<td><%= u.nickname %></td> 	
			<td><%= u.coins %></td>
			<td>
				<%= button_to 'coins up', "/coins_up/#{u.id}", method: :post,
                	data: { confirm: "You sure?" }  ,class: "btn btn-small btn-primary" %>
            </td>
			<td>
				<%= button_to 'coins down', "/coins_down/#{u.id}", method: :post,
                	data: { confirm: "You sure?" }  ,class: "btn btn-small btn-primary" %>
			</td>
		</tr>
	    <% end %>
	</tbody>
</table>
<%= will_paginate %>







