<h1>Nieuw profiel</h1>
<p>Gelieve alle onderstaande velden in te vullen voor dat u op "Create profile" clickt</p>


<%= form_for @user do |u| %>

	<% if @user.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
		<%= u.label :nickname %>
		<%= u.text_field :nickname %>
	</p>
	<p>
		<%= u.label :email %>
		<%= u.text_field :email %>
	</p>
	<p>
		<%= u.label :password %>
		<%= u.password_text_field :password %>
	</p>
	<p>
		<%= u.label :password_confirmation %>
		<%= u.password_text_field :password_confirmation %>
	</p>
	<p>
		<%= u.submit "Create profile" %>
	</p>

<% end %>