
<table class="profile" sumary="profile information">
	<tr>
		<td class="main">
			<h1>	
				<%= image_tag avatar_url(@user) %>
				<%= @user.nickname %>
			</h1>
				<section class="round">
					Create new <%= link_to "challenge", new_challenge_path %> for 2 coins
				    <% if @user.challenges.any? %>
				    	<h4>challenges (<%= @user.challenges.count %>)</h4>
						<ul class="challenges">
							<%= render @challenges %>
						</ul>
						<%= will_paginate @challenges %>
					<% end %>
		  		</section>
		</td>
		<td class="sidebar round">
			<strong>nickame</strong><br />
			<%= @user.nickname %><br />
			<strong>email</strong><br />
			<%= @user.email %><br />
			<strong>coins</strong><br />
			<%= @user.coins %><br />
		</td>
	</tr>
</table>
