
<h1>Users</h1>


  <% @challenge.each do |c| %>


<b>name : </b><%= c.player_one %><%= image_tag avatar_url(c.player_one) %>
<%= versus %>
<b>name : </b><%= c.player_two %><%= image_tag avatar_url(c.player_two) %><br />
<b>game : </b><%= c.challenge_game %><br />
<% if c.description? %>
<b>description : </b><%= c.description %><br />
<% end %>
Challenge created <%= time_ago_in_words(c.created_at, include_seconds: true) %> ago.
 by <%= link_to c.user, user_path(c.user_id) %>
<hr>

<% end %>
