<%= form_for(@challenge) do |f| %>
  
  <div class="field">
    <%= f.collection_select :player_one_id, User.all, :id, :nickname  %>*<br />
    <%= f.collection_select :player_two_id, User.all, :id, :nickname  %>*<br />
    <%= f.text_field :challenge_game, placeholder: "wich game???" %>*<br />
   	<%= f.text_field :description, placeholder: "how to play the game ..." %><br />
   	* requierd
  </div>
  <%= f.submit "Create challenge", class: "btn btn-large btn-primary" %>
<% end %>