<!DOCTYPE html>
<html>
	<head>
	
	<TITLE><%= title %> </TITLE>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/stylesheets' %>
	</head>
	
	<body>
		<div class="container">

			
				<% flash.each do |key, value| %>
					<section class="round">
							<h4><center><p><%= value %></p></center></h4>
					</section>
				<% end %>
			
		   
			<%= render 'layouts/header' %>
			<section class="round">
			<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development?%>
		</div>

	</body>
</html>
